{% extends 'king_admin/index.html' %}
{% load tags %}
{% block css %}
<style type="text/css">
.filter-select-box{
    height: 250px !important;
    width: 100%;

}



</style>
{% endblock %}

{% block container %}
change
    <form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
       {{ form_obj.errors }}
      {% for field in form_obj %}
       <div class="form-group">
           <label class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-6">
            {% if field.name in admin_class.filter_horizontal %}
                <div class="col-md-5">
                        {% get_m2m_obj_list admin_class field  form_obj as m2m_obj_list%}

                   <select multiple class="filter-select-box">
                        {% for obj in m2m_obj_list %}
                         <option>{{ obj }}</option>
                       {% endfor %}
                   </select>
                </div>
                <div class="col-md-1">
                   箭头
                </div>
                 <div class="col-md-5">
                      {% get_m2m_selected_obj_list form_obj field as selected_list %}
                    <select multiple class="filter-select-box">
                        {% for obj in selected_list %}
                        <option>{{ obj }}</option>
                        {% endfor %}
                    </select>
                 </div>

            {% else %}
            {{ field }}
             {% endif %}
        </div>

       </div>
      {% endfor %}
     <div class="form-group">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success pull-right">Save</button>
        </div>
     </div>

    </form>

{% endblock %}